<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>TaskManager</display-name>

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>archiweb.TaskServlet</servlet-class>
    
        <init-param>
            <param-name>databaseUrl</param-name>
            <param-value>jdbc:mysql://localhost:3306/tasks</param-value>
        </init-param>
        <init-param>
            <param-name>appName</param-name>
            <param-value>Task Manager Application</param-value>
        </init-param>
    </servlet>

   
    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/tasks</url-pattern>
    </servlet-mapping>

  
    <resource-ref>
        <description>Base de données des tâches</description>
        <res-ref-name>jdbc/TaskDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

</web-app>
